---

---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <meta name=viewport content="width=device-width, initial-scale=1">

    {% include photo-slider.js %}
  </head>
  
  <body>
      {% include start.html %}
      {% include story1.html %}
      {% include story2.html %}
      {% include about-g.html %}
      {% include about-y.html %}
      {% include venue.html %}
      {% include faq.html %}
      {% include rsvp.html %}
  </body>
</html>
