---

---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#3B2613">
    <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#3B2613">

    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:title" content="{{ site.title | escape }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ site.baseurl | prepend: site.url }}/images/open-graph-preview.jpg" />
    <meta property="og:type" content="website" />
    <meta property="fb:admins" content="100000901583954" />

    <title>{{ site.title | escape }}</title>

    {% include analytics.js %}
    {% include photo-slider.js %}
  </head>
  
  <body>
      {% include start.html %}
      {% include story1.html %}
      {% include story2.html %}
      {% include about-g.html %}
      {% include about-y.html %}
      {% include venue.html %}
      {% include faq.html %}
      {% include rsvp.html %}
  </body>
</html>
