---

---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  </head>
  
  <body>
    <div id='content'>
    

      {% include start.html %}
      {% include story.html %}
      {% include photos.html %}
      {% include venue.html %}
      {% include faq.html %}
      {% include rsvp.html %}
      {% include photo-slider.js %}
      <div class='contact contact-footer'>
        <h2>RSVP</h2>
      </div>
    
    </div>

    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
