---
---

$wedding-brown: #3B2613;

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: large;
  line-height: 1.5em;
  color: $wedding-brown;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 0.4em;
  line-height: 1.2em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

$ampersand-height: 2.2em;

.section.start {
  color: white;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  svg {
    height: 10em;
  }
  p {
    text-align: center;
    font-weight: 300;
    margin-top: 1.2rem;
    margin-bottom: 0;
    &.larger {
      font-size: 2em;
    }
    em {
      font-weight: 400;
      font-style: normal;
    }
  }
  h1 {
    text-align: center;
    line-height: ($ampersand-height - 1)/2+1;
    svg {
      height: $ampersand-height;
      margin: 0 -0.3em (-($ampersand-height - 1)/2) -0.1em;
    }
  }
}

.section {
  min-height: 800px;
  min-height: 90vh;
  background-color: #66CCCC;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column; 
  position: relative;
}

body {
  margin: 0;
}

.slide {
  z-index: 0;
  display: none;
  &.active {
    display: flex;
  }
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 0;
  padding: 2rem;
  align-self: stretch;
  height: 100%;
  background-size: cover;
  &.dark {
    color: white;
  }
  &.photo {
    justify-content: flex-end;
    padding-bottom: 3rem;
  }
}

.slide-control {
  position: absolute;
  z-index: 1;
  width: calc(100% - 2rem);
  bottom: 0;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  &.dark {
    color: white;
  }
}

.arrow-left {
  text-align: left;
  flex: 1 1 0;
}
.arrow-right {
  text-align: right;
  flex: 1 1 0;
}
.dot.active::before {
  content: "\25CF";
}
.dot:before {
  content: "\25CB";
}

.rsvp-box {
    background-color: #66CCCC;
    border: 5px solid $wedding-brown;
    padding: 40px;
    text-align: center;
}
