---
---

$wedding-brown: #3B2613;
$wedding-brown-light: #A6540D;
$wedding-blue: #97DBCC;
$wedding-blue-light: #BCF5EA;

* {
  flex-shrink: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: large;
  line-height: 1.5em;

  color: $wedding-brown;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 0.4em;
  line-height: 1.2em;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p, h1, h2, h3, h4 {
  display: block;
  width: 100%;
  max-width: 30rem;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  cursor: hand;
}

$ampersand-height: 2.2em;

.section {
  min-height: 600px;
  min-height: 85vh;
  flex: 1 0 auto;

  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column; 
  
  position: relative;

  background-size: cover;
}

body {
  margin: 0;
}

.section:nth-of-type(3n) {
  .slide {
    background-color: rgba($wedding-blue-light,0.9);
  }
}

.section:nth-of-type(3n+1) {
  color: white;
  .slide {
    background-color: rgba($wedding-brown,0.9);
  }
}


.slide {
  z-index: 0;
  display: none;
  &.active {
    display: flex;
  }
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 2rem;
  align-self: stretch;
  background-size: cover;

  background-color: rgba($wedding-blue,0.9);

  &.start {
    color: white;
    background-color: transparent;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    svg {
      height: 10rem;
    }
    p {
      text-align: center;
      font-weight: 300;
      margin-top: 1.2rem;
      margin-bottom: 0;
      &.larger {
        font-size: 2rem;
        line-height: 1.1em;
      }
      em {
        font-weight: 400;
        font-style: normal;
      }
    }
    h1 {
      text-align: center;
      line-height: ($ampersand-height - 1)/2+1;
      svg {
        height: $ampersand-height;
        margin: 0 -0.3em (-($ampersand-height - 1)/2) -0.1em;
      }
    }
    .button {
      margin-top: 2rem;
    }
  }
  &.photo {
    justify-content: flex-end;
    padding-bottom: 3rem;
    text-align: center;
    background-color: transparent;
  }
  &.dark {
    color: white;
  }
}

.slide-control {
  position: absolute;
  z-index: 1;
  width: calc(100% - 2rem);
  bottom: 0;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  color: inherit;
  &.dark {
    color: white;
  }
}

.arrow-left {
  text-align: left;
  flex: 1 1 0;
  cursor: pointer;
  cursor: hand;
}
.arrow-right {
  text-align: right;
  flex: 1 1 0;
  cursor: pointer;
  cursor: hand;
}
.dot.active::before {
  content: "\25CF";
}
.dot:before {
  content: "\25CB";
  cursor: pointer;
  cursor: hand;
}
.arrow-left:hover, .arrow-right:hover, .dot:hover {
  color: mix($wedding-brown, white, 50%);
}

.button {
  display: flex;
  flex-direction: column;
  border: 0.4rem solid $wedding-brown;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: rgba($wedding-brown, 0.1);
  }

  &.dark {
    border: 0.4rem solid white;
    &:hover {
      background-color: rgba(white, 0.1);
    }
  }

  h1, h2, h3, h4 {
    margin-bottom: 0em;
    &:first-child {
      margin-top: 0em;
    } 
  }
}

.venue {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .address {
    display: flex;
    flex-flow: column nowrap;
  }
  a {
    margin: 2rem;
    padding: 1rem;
  }
}

.venue-map {
  margin: 0 -2rem;
  flex: 1 0 600px;
  flex: 1 0 70vh;
  align-self: stretch;
}

.rsvp-box {
  padding: 2rem;
  margin: 1rem;
}

.join-us-box {
  padding: 1rem;
  margin: 1rem;
}
