<div class="section" style="background-image: url(/images/about-y.jpg); background-position: 50% 50%">
  <div class="slide active text">
		<h1>Who is Ylla?</h1>
		<p>Ylla is the youngest daughter of Christina Norrby and Ragnar von Malmborg. She is a 2015 graduate from Linneaus University, Sweden and works as a Project Manager in Singapore. She follows the motto <i>Knowledge, Experience, Adventure</i> and her dream is to one day own a horse. Yllas life wouldn't be complete without her loyal whale, APV.</p>
	</div>

  <div class="slide dark"  
         style="background-image: url(/images/about-y.jpg); background-position: 50% 50%"></div>

  <div class="slide-control">
    <div class="arrow-left" onclick="plusDivs(this, -1)">&lt;</div>
    <div class="dot active" onclick="currentDiv(this, 1)"></div>
    <div class="dot" onclick="currentDiv(this, 2)"></div>
    <div class="arrow-right"  onclick="plusDivs(this, 1)">&gt;</div>
  </div>
</div>