<div class="section">
	<div class="slide active">

		<h1>FAQ</h1>
		<h2>Attire</h2>
		<p>The dress code. Cocktail dresses and suits are encouraged. All colors allowed! 
		We want you to look your best, but feel comfortable too.
		As there is grass and gravel outside of the venue, feel free to skip the heels. You may thank us on the dance floor later!</p>

		<h2>Food restrictions</h2>
		<p>Please let us know if you have any allergies or food restrictions when you <a href="#rsvp">RSVP</a>. Gabriel loves cilantro.</p>

		<h2>Children</h2>
		<p>Your children are very dear to us and they are welcome to attend. There will be a separate space for children to play, nurse and sleep.</p>

		<h2>Transportation</h2>
		<p>There are buses and metro within walking distance. Paid parking available for the designated drivers. Or share a taxi. Be kind to the environment.</p>

		<h2>Gifts</h2>
		<p>We haven't settled on a home, and your presence is the only gift we could ever wish for. Perhaps we can convince you to donate to a worthy cause, instead?</p>
		
		<a name="rsvp" href="https://egen-insamling.lakareutangranser.se/en/fundraisers/ylla-and-gabriel-s-wedding-celebration" target="_blank">
			<div class="join-us-box button dark">
				<h4>Donate &#9654;</h4>
			</div>
		</a>
	</div>
</div>
