<div class="section">
	<div class="slide active">

		<h1>FAQ</h1>
		<h2>Attire</h2>
		<p>The dress code. Cocktail dresses and suits are encouraged. All colors allowed! 
		We want you to look your best, but feel comfortable too.
		As there is grass and gravel outside of the venue, feel free to skip the heels. You may thank us on the dance floor later!</p>

		<h2>Food restrictions</h2>
		<p>Please let us know if you have any allergies or food restrictions when you RSVP. Gabriel loves cilantro.</p>

		<h2>Children</h2>
		<p>Your children are very dear to us and they are welcome to attend.</p>

		<h2>Arriving from out of town?</h2>
		<p>We will send a separate email with hotel recommendations and things to do.</p>
	</div>

</div>
