<div class="section" style="background-image: url(/images/bagan-dark.jpg); background-position: 75% 50%">
	<div class="slide active start">
		{% include assets/logo.svg %}
		<h2>
			Ylla &amp; Gabriel
		</h2>
		<p>Wedding <em>celebration</em></p>
		<p class="larger"><em>19 August</em> 2017</p>
		<p><em>Stockholm</em>, Sweden</p>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSdXE0F6ZlvuX2SBW6xi16zTDlYG1rGzV9YTWgh7d9w3S7xVaA/viewform" target="_blank">
			<div class="rsvp-box button">
				<h2>Can you make it?</h2>
				<h4>RSVP here &#8702;</h4>
			</div>
		</a>
	</div>
</div>
