<div class="section" style="background-image: url(/images/seoul-flight.jpg); background-position: 70% 60%">
	<div class="slide active start">
		{% include assets/logo.svg %}
		<h2>
			Ylla &amp; Gabriel
		</h2>
		<p>Wedding <em>celebration</em></p>
		<p class="larger"><em>19 August</em> 2017</p>
		<p><em>Stockholm</em>, Sweden</p>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSdXE0F6ZlvuX2SBW6xi16zTDlYG1rGzV9YTWgh7d9w3S7xVaA/viewform" target="_blank">
			<div class="join-us-box button dark">
				<h2>Join us!</h2>
				<h4>RSVP here &#9654;</h4>
			</div>
		</a>
	</div>
</div>
