<div class="section" style="background-image: url(/images/seoul-flight.jpg); background-position: 70% 60%">
	<div class="slide active start">
		{% include assets/logo.svg %}
		<h1>
			Ylla <span class='ampersand'>&amp;</span> Gabriel
		</h1>
		<p>Wedding <em>celebration</em></p>
		<p class="larger"><em>19 August</em> 2017</p>
		<p><em>Stockholm</em>, Sweden</p>
		<a class='outbound' href="{{ site.photobooth_url }}" target="_blank">
			<div class="join-us-box button dark">
				<h2>Photobooth!</h2>
				<h4>See the snaps here &#9654;&#xfe0e;</h4>
			</div>
		</a>
	</div>
</div>
