<div class="section" style="background-image: url(/images/story2a.jpg); background-position: 50% 40%">
  <div class="slide active text">
	<h1>Engagement</h1>
	<p><i>Gabriel:</i> Near Arab street in Singapore there's a bar with a theme. Constructed in the early 2000's by an aging property businessman as a <i>price-is-no-object</i> statement, the décor is strictly art deco and the fairy servers get your wine bottles by flying.</p>
	<p>We'd been many times, and I didn't suspect a thing when it came up as a good spot for a nightcap to finish our evening out and about. And so it came to pass that I was proposed to in a place both ephemeral yet timeless, and both fantastic and formidable.</p>
	</div>

	<div class="slide dark"
			 style="background-image: url(/images/story2a.jpg); background-position: 50% 40%"></div>
	<div class="slide dark" 
	     style="background-image: url(/images/story2b.jpg); background-position: 50% 25%"></div>
	<div class="slide dark"  
	     style="background-image: url(/images/story2c.jpg); background-position: 40% 50%"></div>	

 <div class="slide-control">
    <div class="arrow-left" onclick="plusDivs(this, -1)">&lt;</div>
    <div class="dot active" onclick="currentDiv(this, 1)"></div>
    <div class="dot" onclick="currentDiv(this, 2)"></div>
    <div class="dot" onclick="currentDiv(this, 3)"></div>
    <div class="dot" onclick="currentDiv(this, 4)"></div>
    <div class="arrow-right"  onclick="plusDivs(this, 1)">&gt;</div>
  </div>
</div>