<div class="section" style="background-image: url(/images/story1a.jpg); background-position: 30% 60%;">
  <div class="slide active text">
    <h1>Our Adventure</h1>
    <p><i>Ylla:</i> I met Gabriel in 2011 through the Spotify climbing group. Together with friends we launched the dinner club <i>Föreningen för Söndagmiddagens bevarande</i>, giving Gabriel weekly opportunities to impress me with his top notch cooking and handmade cocktails.</p>
    <p>One and a half year and many Sundays later we went public (to the great surprise of our co-hosts). To seal our commitment, we took off on a 3 week trip to experience the <i>'Once every 7885 years'</i> Maya Universe Calendar Doomsday ending in December 2012. </p>
    <p>We haven't stopped travelling since.</p>
  </div>
  <div class="slide dark photo" 
       style="background-image: url(/images/story1a.jpg); background-position: 30% 60%"><div><i>Via ferrata</i> climbing, Austria</div></div>
  <!-- TODO: Perhaps add a picture from Mexiko/Belize/Honduras? -->
  <div class="slide dark photo" 
       style="background-image: url(/images/start.jpg); background-position: 60% 55%"><div>Winter on the Gold Coast</div></div>
<div class="slide dark photo" 
       style="background-image: url(/images/apv.jpg); background-position: 25% 50%"><div>APV on top of the world, Bagan, Myanmar</div></div>

  <div class="slide-control">
    <div class="arrow-left" onclick="plusDivs(this, -1)">&lt;</div>
    <div class="dot active" onclick="currentDiv(this, 1)"></div>
    <div class="dot" onclick="currentDiv(this, 2)"></div>
    <div class="dot" onclick="currentDiv(this, 3)"></div>
    <div class="dot" onclick="currentDiv(this, 4)"></div>
    <div class="arrow-right"  onclick="plusDivs(this, 1)">&gt;</div>
  </div>
</div>
