<div class="section" style="background-color: #66CCCC">
	<div class="slides-content">
		
		<div class="wedding-slides story1-slides-content">
			<h1>Our Story</h1>
			<p>I met Gabriel in 2011 through the Spotify climbing group. Together with Emil Fredriksson we launched <i>Föreningen för Söndagmiddagens bevarande</i>, giving Gabriel weekly opportunities to impress me with his top notch cooking and handmade cocktails.. One and a half year later we went public, to the great surprise of Gabriels flat mate Carl-Axel Larsen. To seal our commitment, we took off on a 3 week trip to Mexico, Belize, Guatemala and Honduras to experience the 'Once every 7885 years' Maya Universe Calendar Doomsday ending in December 2012. </p>
		</div>
		
		<div class="wedding-slides story1-slides-content" 
		     style="background-image: url(/images/story1a.jpg); background-position: 30% 60%"></div>
		<div class="wedding-slides" 
		     style="background-image: url(/images/story1b.jpg); background-position: 50% 50%"></div>


		<div class="arrow-white display-bottommiddle" style="width:100%">
	    <div class="arrow-left"   onclick="plusDivs1('story1-slides-content', -1)">&#10094;</div>
	    <div class="arrow-right"  onclick="plusDivs1('story1-slides-content', 1)">&#10095;</div>
		    <span class="slider-badge peas peas-border transparent peas-hover-white" 
		          onclick="currentDiv1('story1-slides-content', 1)"></span>
		    <span class="slider-badge peas peas-border transparent peas-hover-white" 
	          onclick="currentDiv1('story1-slides-content', 2)"></span>
	      <span class="slider-badge peas peas-border transparent peas-hover-white" 
	          onclick="currentDiv1('story1-slides-content', 3)"></span>
		</div>

	</div>
</div>

<script>
{
	var slideIndex = 1; // we want multiple slideIndex,one for each page
	showDivs1("story1-slides-content", slideIndex); // Store the slideIndex for this particular slider ("story1-slides-content") somewhere where we can find it using only the slideId

	function plusDivs1(slideId, n) {
	  showDivs1(slideId, slideIndex += n);
	}

	function currentDiv1(slideId, n) {
	  showDivs1(slideId, slideIndex = n);
	}

	function showDivs1(slideId, n) {
	  var i;
	  var y = document.getElementById(slideId);
	  var x = y.getElementsByClassName("wedding-slides");
	  var dots = y.getElementsByClassName("peas");
	  if (n > x.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";
	  }
	  for (i = 0; i < dots.length; i++) {
	     dots[i].className = dots[i].className.replace(" peas-white", "");
	  }
	  x[slideIndex-1].style.display = "flex";
	  dots[slideIndex-1].className += " peas-white";
	}
}
</script>