<div class="section">

	<h1>Our Story</h1>
	<p>I met Gabriel in 2011 through the Spotify climbing group. Together with Emil Fredriksson we launched <i>Föreningen för Söndagmiddagens bevarande</i>, giving Gabriel weekly opportunities to impress me with his top notch cooking and handmade cocktails.. One and a half year later we went public, to the great surprise of Gabriels flat mate Carl-Axel Larsen. To seal our commitment, we took off on a 3 week trip to Mexico, Belize, Guatemala and Honduras to experience the 'Once every 7885 years' Maya Universe Calendar Doomsday ending in December 2012. </p>

	<h1>Engagement</h1>
	<p>Near Arab street in Singapore there's a bar with a theme. Constructed in the early 2000's by an aging property businessman as a price-is-no-object statement, the décor is strictly art deco and the fairy servers get your wine bottles by flying.</p>
	<p>We'd been many times, and I didn't suspect a thing when it came up as a good spot for a nightcap to finish our evening out and about. And so it came to pass that I was proposed to in a place both ephemeral yet timeless, and both fantastic and formidable.</p>
	
	<h1>Who is Gabriel?</h1>
	<p>Gabriel is the elder son of Fredrik and Annika Lundberg. Reared and schooled on the west coast of Sweden, he moved to Singapore by way of Stockholm. Driven by his love for curiosity, complexity and and the need to tease apart what makes systems tick, he currently makes his living at a venture capital firm.</p>

	<h1>Who is Ylla?</h1>
	<p>Ylla is the youngest daughter of Christina Norrby and Ragnar von Malmborg. She is a 2015 graduate from Linneaus University, Sweden and works as a Project Manager in Singapore. She follows the motto <i>Knowledge, Experience, Adventure</i> and her dream is to one day own a horse. Yllas life wouldn't be complete without her loyal whale, APV. </p>
</div>
