<div class="section">
	<div class="slide active">

		<h1>The event</h1>
			<a class='outbound' href="https://www.google.com.sg/maps/dir//Kraftan,+Roslagsv%C3%A4gen+101,+Hus+9,+114+19+Stockholm,+Sweden/@59.3584287,18.0557513,15z/data=!4m15!1m6!3m5!1s0x0:0x5aa52cfd7ced69cc!2sKraftan!8m2!3d59.3584287!4d18.0557513!4m7!1m0!1m5!1m1!1s0x465f9d0e64b52cb9:0x5aa52cfd7ced69cc!2m2!1d18.0557513!2d59.3584287" target="_blank">
				<div class="rsvp-box button">
					<h3>Evening of<br />
					19 August 2017</h3>
					<h4>Restaurang Kräftan</h4>
					<h4>Kräftriket,<br /> 
					Stockholm, Sweden</h4>

					<h4>Directions &#9654;</h4>
				</div>
			</a>
		<div class='venue-map' id='map'></div>
		<script>
		  function initMap() {
		    var coord = {lat: 59.3587397, lng: 18.0550108};
		    var map = new google.maps.Map(document.getElementById('map'), {
		      center: coord,
		      zoom: 15,
		      zoomControl: true, // show if map is above 200px
		      mapTypeControl: false,
		      scaleControl: false,
		      streetViewControl: false,
		      rotateControl: false,
		      fullscreenControl: false,
		      scrollwheel: false,
		      styles: [
		        {
		          "stylers": [
		            { "hue": "#BCF5EA" },
		            { "saturation": -40 },
		            { "gamma": 0.8 }
		          ]
		        },{
		          "featureType": "poi",
		          "stylers": [
		            { "visibility": "off" }
		          ]
		        }
		      ]
		    });
		    var marker = new google.maps.Marker({
		      position: coord,
		      map: map,
		      title: 'Restaurang Kräftan',
		      // Below as per http://stackoverflow.com/a/7686977
		      icon: new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|A6540D",
		        new google.maps.Size(21, 34),
		        new google.maps.Point(0,0),
		        new google.maps.Point(10, 34))
		    });
		  }
		</script>
		<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBWLZmlGL0wEPMYUr1SDE57wBkpThKoT-o&callback=initMap'
		async defer></script>

		<h4>Psst! Did you know?</h4>
		<p>The restaurant is named after yllas favorite food!</p>
	</div>
</div>
